In [2]:
import pandas as pd
cars2020 = pd.read_csv("TEA28.20210303T230357.csv")
cars2020.head()

,Statistic,Year,Make and Model,UNIT,VALUE
0,New Private Cars Licensed for the First Time,2020,Alfa Romeo Giulietta,Number,8.0
1,New Private Cars Licensed for the First Time,2020,Alfa Romeo Giulia,Number,9.0
2,New Private Cars Licensed for the First Time,2020,Alfa Romeo Stelvio,Number,6.0
3,New Private Cars Licensed for the First Time,2020,Audi TT,Number,11.0
4,New Private Cars Licensed for the First Time,2020,Audi A3,Number,509.0

In [3]:
cars2020.info

<bound method DataFrame.info of                                              Statistic  Year  \
0         New Private Cars Licensed for the First Time  2020
1         New Private Cars Licensed for the First Time  2020
2         New Private Cars Licensed for the First Time  2020
3         New Private Cars Licensed for the First Time  2020
4         New Private Cars Licensed for the First Time  2020
..                                                 ...   ...
475  New Private Cars Licensed for the First Time Rank  2020
476  New Private Cars Licensed for the First Time Rank  2020
477  New Private Cars Licensed for the First Time Rank  2020
478  New Private Cars Licensed for the First Time Rank  2020
479  New Private Cars Licensed for the First Time Rank  2020

           Make and Model    UNIT  VALUE
0    Alfa Romeo Giulietta  Number    8.0
1       Alfa Romeo Giulia  Number    9.0
2      Alfa Romeo Stelvio  Number    6.0
3                 Audi TT  Number   11.0
4                 Audi A3  Number  509.0
..                    ...     ...    ...
475             Volvo S90  Number  146.0
476             Volvo V90  Number  158.0
477            Volvo XC40  Number   59.0
478                 Other  Number    NaN
479            All models  Number    NaN

[480 rows x 5 columns]>

In [10]:
cars2020.drop(['Statistic', 'UNIT'], axis=1, inplace=True)